
body {
    background-color: rgb(229,190,1);
}

header {
    font-family: 'Orbitron';
    text-align: center;
}
hr {
    border-style: dashed;
    border-color: black;
}

#frame {
    background-color: rgb(30,30,30);
    width: 420px;
    height: 530px;
    margin: 200px auto auto auto;
    border-radius: 20px;
}

#display {

    width: 80%;
    height: 80px;
    background-color: rgb(200,50,4);
    margin: auto;
    position: relative;
    top: 20px;
    font-size: 30px;
    text-align: right;
    font-family: 'Orbitron';
    border-radius: 5px;
   
}

#clear-delete {
    background-color: black;
    width: 290px;
    height: 90px;
    position: relative;
    top: 52px;
    left:18px;
    display: flex;
    justify-content: flex-start;
    
}

#clear-delete button {
   width: 137px;
   height: 73px;
   border-radius: 5px;
   background-color: rgb(229,190,1);
   font-size: 30px;
   font-family: 'Space Mono';

}

#bottom-frame {
    display: flex;
    flex-direction: row;    
}


#digits {
    height: 300px;
    background-color: rgb(30,30,30);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 35px;
    border-radius: 20px;
    left: 16px;
}

#digits>* {
    flex: 1 1 70px;
}

#digits button {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width:275px;
    background-color: rgb(200,50,4);
    border: groove black;
    font-size: 30px;
    height: 75px;
    font-family: 'Space Mono';
}


#operators {
    
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 37px;
    left: 17px;
    border-radius: 20px;

    
}

#operators button {
    background-color: rgb(229,190,1);
    font-size: 30px;
    width: 110px;
    height: 74px;
    position: relative;
    border-radius: 5px;
    font-family: 'Space Mono';

}

#equal-container {
    width: 400px;
}


#equal {
    font-size: 30px;
    height: 74px;
    width: 110px;
    position: relative;
    bottom: 38px;
    right: 93px;
    border-radius: 5px;
    background-color: rgb(229,190,1);
    font-family: 'Space Mono';

}
